a{
  text-decoration: none;
  color: black;
}

.about{
  background-color: #25274D;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.button-div{
  margin: auto;
}

button{
  margin: 1rem 1rem;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #476e9e 5%, #9fb4f2 100%);
	background-color:#476e9e;
	border-radius:10px;
	border:1px solid #4e6096;
	color:white;
	font-size:1rem;
	padding:.2rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

button:hover {
	background:linear-gradient(to bottom, #9fb4f2 5%, #476e9e 100%);
	background-color:#9fb4f2;
}

.contactMe{
  background-color: #AAABB8;
  height: 100vh;
  text-align: center ;
}

.carousel-container{
  margin: auto;
}

.carousel-control-prev, .carousel-control-next{
  display: none;
}

h3{
  font-size: 2.5rem;
  color: whitesmoke;
}

.favicon{
  height: 1.75em;
  padding-left: 10px;
}

footer{
  background-color: #464866;
  color: white;
  text-align: center;
  font-size: .8rem;
}

form{
  background-color: #29648A;
  margin: 3rem auto;
  max-width: 720px;
  border-radius: 25px;
}

input[type='submit']{
  width: 95%;
  background-color: white;
  letter-spacing: .2rem;
  transition: all .3s ease 0s;
}

input[type='submit']:hover{
  background-color: #249225;
}

input, textarea{
  border: 0;
  border-radius: 4px;
  font-size: 2rem;
  margin: 0rem 0 1rem 0;
  text-transform: capitalize;
  width: 100%;
}

textarea{
  resize: none;
}

.form-container{
  display: flex;
}

.form-items{
  margin: 1rem;
}

label{
  font-size: 1rem;
  font-weight: bold;
}

.home{
  margin: 0;
  background-image: linear-gradient(to right, #25274D 48%, #29648A 52%);
  background-image: -moz-linear-gradient(to right, #25274D 48%, #29648A 52%);
  background-image: -webkit-linear-gradient(to right, #25274D 48%, #29648A 52%);
  background-image: -o-linear-gradient(to right, #25274D 48%, #29648A 52%);
  height: 100vh;
}

.links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.links-items{
  background-color: black;
  color: white;
  margin: 10px 25px;
  border-radius: 25px;
}
.links-items > a{
  display: flex;
  padding: 10px 30px;
}

.links-title{
  color: white;
  padding-left: 10px;
}

.github, .linkedin{
  height: 1.5em;
}

.landingTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  font-size: 2rem;
}

Nav{
  background-color: #464866;
}

.navTitle{
  color:white;
  padding-left: 25px;
}

p{
  width: 100vh;
  margin: auto;
  color: white;
  font-size: 1.25em;
}

.pageTitle{
  text-align: center;
  padding: 25px;
  color:white;
}

.portfolio{
  background-color: #29648A;
  /* height: 100vh; */
}

.portfolio-image{
  height: 10rem;
}

.project-container{
  background-color: rgb(135, 135, 135);
}

.project{
  margin: 0rem 1rem;
  display: flex;
  padding: .5rem;

}

.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

.skillsItems{
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 25px;
  margin: 1.5rem;
}

span{
  overflow: hidden; 
  white-space: nowrap;
  border-right: white .1em solid;
  letter-spacing: .1em;
  animation: typing 5s steps(40, end),
  blink-caret .75s step-end infinite;
  max-width: fit-content;
}

.resume{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.overlay{
  position: absolute;
  padding: 25px;
  border-radius: 25px;
  margin: 1.5rem;
  opacity: 0;
  transition: .5s ease;
  background-color: #9fb4f2
}

.resume:hover > .overlay{
  opacity: 1;
}

@keyframes typing{
  from { width: 0}
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: white }
  50% { border-color: white}
}

@media (min-width: 600px){
  a{
    font-size: 1.5rem;
  }
  .landingTitle{
    font-size: 4rem;
  }
  .favicon{
    height: 2.5em;
  }

  h1{
    font-size: 3rem;
  }
}

@import 'bootstrap/dist/css/bootstrap.min.css'